.dart_tool/
.dart_tool/flutter_build/
**.fileCache/

.env/



# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/macos/Flutter/.last_build_id
.dart_tool/
.dart_tool/flutter_build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
build/
.fvm/
.fvm